@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face { 
    font-family: "pop"; 
    src: url("../src/assets/glory.ttf"); 
} 
@font-face { 
    font-family: "medium"; 
    src: url("../src/assets/sub.otf"); 
} 